@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #08080a;
 
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
 
    --popover: #ffffff;
    --popover-foreground: #08080a;
 
    --card: ffffff;
    --card-foreground: 08080a;
 
    --border: #e3e3e7;
    --input: #e3e3e7;
 
    --primary: #17171b;
    --primary-foreground: #f9f9f9;
 
    --secondary: #f4f4f5;
    --secondary-foreground: #17171b;
 
    --accent: #f4f4f5;
    --accent-foreground: #17171b;
 
    --destructive: #db2626;
    --destructive-foreground:#f9f9f9;
 
    --ring: #08080a;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #08080a;
    --foreground: 0 0% 98%;
 
    --muted: #27272a;
    --muted-foreground: #a1a1a9;
 
    --popover: #08080a;
    --popover-foreground: #f9f9f9;
 
    --card: #08080a;
    --card-foreground: #f9f9f9;
 
    --border: #27272a;
    --input: #27272a;
 
    --primary: #f9f9f9;
    --primary-foreground: #17171b;
 
    --secondary: #27272a;
    --secondary-foreground: #f9f9f9;
 
    --accent: #27272a;
    --accent-foreground: #f9f9f9;
 
    --destructive: #7f1d1d;
    --destructive-foreground: #f9f9f9;
 
    --ring: #d3d3d7
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}